body {
    background-color: #9A7EA6;
    margin: 0;
}

#activityList {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

#slideLeft {
    position: absolute;
    top: 190px;
    left: 50%;
    margin-left: -350px;
    display: block;
    height: 394px;
    width: 100px;
}

#slideRight {
    position: absolute;
    top: 190px;
    right: 50%;
    margin-right: -350px;
    display: block;
    z-index: -1;
    height: 394px;
    width: 100px;
}

.activity {
    background: linear-gradient(90deg, #e9ce9d, #F8B2A1);
    width: 500px;
    height: 490px;
    padding-top: 5px;
    margin-top: 15px;
}

.activityButtons {
    position: absolute;
    top: 500px;
    left: 340px;
    display: flex;
}

.activityButtons button{
    height: 50px;
    width: 50px;
    position: relative;
}

.activity p {
    font-family: 'Brush Script MT', cursive;
    color: #9c4a1a;
}

.activityName{
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.dateTime{
    text-align: center;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.activityDesc{
    font-size: 25px;
    margin-left: 15px;
    width: 440px;
    height: 390px;
    margin-top: 10px;
}

.activityWrapper {
    display: none;
}

.mainWrapper {
    position: absolute;
    top: 125px;
    display: block;
}

.leftWrapper {
    overflow: hidden;
    position: absolute;
    top: 175px;
    left: 50%;
    margin-left: -350px;
    display: block;
}

.leftAct {
    height: 390px;
    width: 290px;
    background: linear-gradient(90deg, #c7a79f, #d07a5f);
}

.leftAct button{
    display: none;
}

.leftAct p.activityName {
    position: relative;
    left: -60px;
}

.leftAct div.activityRepetition {
    display: none;
}


.rightWrapper {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    top: 175px;
    right: 50%;
    margin-right: -350px;
    display: block;
}

.rightAct {
    height: 390px;
    width: 290px;
    background: linear-gradient(90deg, #ab5a40, #bf9388);
}

.rightAct button{
    display: none;
}

.rightAct p.activityName {
    position: relative;
    right: 90px;
}

.rightAct p.activityName {
    position: relative;
    right: 90px;
}

.rightAct p.activityDesc {
    position: relative;
    right: 180px;
}

.rightAct div.activityRepetition {
    margin-right: 5px;
}

#editButtons {
    position:absolute;
    top: 630px;
    left: calc(50% - 65px);
    display: none;
}

#editButtons button {
    height: 50px;
    width: 50px;
}

.dateNavigation {
    display: inline;
    margin: 20px;
}

.dateNavigation button {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.dateNavigation i {
  border: solid #e8e3e3;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
}

#displayedDate {
    margin-top: -20px;
    display: flex;
    justify-content: center;
}

#displayedDate input{
    font-family: 'Brush Script MT', cursive;
    color: #e7d69c;
    text-shadow: -3px -2px #9c4a1a;
    font-size: 30px;
    text-align: center;
    margin: 10px -60px 0 -10px;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
}

#dayOfTheWeek {
    font-family: 'Brush Script MT', cursive;
    color: #e7d69c;
    text-shadow: -3px -2px #9c4a1a;
    font-size: 30px;
    text-align: center;
    margin: 26px 0 0 0;
}

#no-activities {
    position: absolute;
    top: calc(50% - 50px);
}

#no-activities p {
    font-family: 'Brush Script MT', cursive;
    color: #e7d69c;
    text-shadow: -3px -2px #9c4a1a;
    font-size: 45px;
    text-align: center;
}

.activityRepetition {
    position: absolute;
    right: 20px;
    bottom: 5px;
    display: flex;
    align-items: center;
}

.activityRepetition p {
    display: inline;
    text-align: center;
    font-size: 18px;
    width: 50px;
    z-index: 2;
    margin-left: 5px;
}

.activityRepetition i {
    color: #9c4a1a;
    margin-top: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

#nextDay i {
    transform: rotate(-45deg);
}

#nextWeek i {
    transform: rotate(-45deg);
}