<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Password reset</title>
    <link rel="stylesheet" href="" th:href="@{/css/users/confirmationLink.css}">
    <link rel="stylesheet" href="" th:href="@{/css/users/login.css}">
    <link rel="stylesheet" href="" th:href="@{/css/general/navigation.css}">
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title"><span>Create new password</span></div>
        <form action="#" th:action="@{/passwordChange}" th:object="${wrapper}" method="post">
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="password" th:value="${wrapper.password}" id="password" name="password" placeholder="New password" required>
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" th:value="${wrapper.repeatedPassword}" id="repeatedPassword" name="repeatedPassword" placeholder="Repeat password" required>
            </div>
            <input style="display: none;" type="password" th:value="${wrapper.token}" id="token" name="token" readonly required>
            <div class="row button">
                <input type="submit" value="Change password">
            </div>
        </form>
        <div>
            <p th:text="${error}"></p>
        </div>
    </div>
</div>
</body>
</html>