<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Your profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="" th:href="@{/css/users/userInfo.css}">
    <link rel="stylesheet" href="" th:href="@{/css/general/navigation.css}">
    <script type="text/javascript" th:src="@{/js/users/userInfo.js}"></script>
</head>
<body style="background: #9A7EA6; margin: 0;">
<div id="navigation">
    <button onclick="location.href = 'http://localhost:8080/tasks/all';" class="nbutton" role="button">My tasks</button>
    <button onclick="location.href = 'http://localhost:8080/a/activities';" class="nbutton" role="button">Activities</button>
    <button onclick="location.href = 'http://localhost:8080/tasks/task';" class="nbutton" role="button">New task</button>
    <button onclick="location.href = 'http://localhost:8080/a/activityForm';" class="nbutton" role="button">New activity</button>
    <button onclick="location.href = 'http://localhost:8080';" class="nbutton" role="button">Back to main</button>
    <button onclick="logout()" class="nbutton" role="button">Log out</button>
</div>
<div id="info">
    <p id="stats-label">Your stats</p>
    <div id="user">
        <img id="profile-pic" src="" th:src="@{'/image/profilePicture/' + ${user.profilePicture}}">
        <div id="change-img" onclick="changePhoto()">
            <p>Change photo</p>
        </div>
        <p id="username" th:text="${user.name}"></p>
    </div>
    <div id="stats">
        <p th:text="'Ongoing tasks: ' + ${stats.unfinishedTasks}"></p>
        <p th:text="'Completed tasks: ' + ${stats.completedTasks}"></p>
        <p th:text="'Activities this week: ' + ${stats.weeklyActivities}"></p>
        <p th:text="'Remaining: ' +${stats.remainingWeeklyActivities}"></p>
        <p th:text="'Joined on: ' + ${user.registration}"></p>
    </div>
</div>
</body>
</html>