<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Your activities</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="" th:href="@{/css/activities/allActivities.css}">
  <link rel="stylesheet" href="" th:href="@{/css/general/navigation.css}">
  <script type="text/javascript" th:src="@{/js/activities/allActivities.js}"></script>
    <script src="https://kit.fontawesome.com/5be4e8ca06.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="navigation">
      <button onclick="location.href = 'http://localhost:8080/tasks/all';" class="nbutton" role="button">All tasks</button>
      <button onclick="location.href = 'http://localhost:8080/tasks/task';" class="nbutton" role="button">New task</button>
      <button onclick="location.href = 'http://localhost:8080/a/activityForm';" class="nbutton" role="button">New activity</button>
      <button onclick="location.href = 'http://localhost:8080';" class="nbutton" role="button">Back to main</button>
      <button onclick="location.href = 'http://localhost:8080/logout';" class="nbutton" role="button">Logout</button>
  </div>
  <div id="displayedDate">
      <div class="dateNavigation">
          <button id="previousWeek" class="nbutton" onclick="previousWeek()"><i></i><i></i></button>
          <button id="previousDay" class="nbutton" onclick="previousDay()"><i></i></button>
      </div>
      <p th:text="${dayOfTheWeek}" id="dayOfTheWeek" onclick="showDP()"></p>
      <p>
          <input type="date" th:value="${todaysDate}" onclick="showDP(this)" onchange="changeDate(this)">
      </p>
      <div class="dateNavigation">
          <button id="nextDay" class="nbutton" onclick="nextDay()"><i></i></button>
          <button id="nextWeek" class="nbutton" onclick="nextWeek()"><i></i><i></i></button>
      </div>
  </div>
  <div id="activityList" th:current="${current}" th:day="${today}">
      <div id="no-activities" th:if="${activities.size == 0}">
          <p>
              No activities today.
          </p>
      </div>
      <div th:each="a : ${activities}" class="activityWrapper">
          <div class="activity">
              <p class="activityName" th:text="${a.name}"></p>
              <p class="dateTime" th:text="${a.formattedStartTime} + '&nbsp-&nbsp' + ${a.formattedEndTime}"> </p>
              <p class="activityDesc" th:text="${a.description}"></p>
              <div class="activityRepetition" th:if="${a.repetition != null}">
                  <i class="fa-solid fa-repeat"></i>
                  <p th:text="${a.repetitionToString}"></p>
              </div>
              <div class="activityButtons" th:activityId="${a.id}">
                  <button class="nbutton" onclick="edit()"><i class="fa-solid fa-pen-to-square"></i></button>
                  <button class="nbutton" onclick="remove(this)"><i class="fa-solid fa-xmark"></i></button>
              </div>
          </div>
      </div>
      <div id="slideLeft" onclick="previous()"></div>
      <div id="slideRight" onclick="next()"></div>
  </div>
  <div id="editButtons">
      <button class="nbutton" onclick="confirm()"><i class="fa-solid fa-check"></i></button>
      <button class="nbutton" onclick="cancel()"><i class="fa-solid fa-xmark"></i></button>
  </div>
</body>
</html>