<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Your activities</title>
    <link rel="stylesheet" href="/css/general/navigation.css">
    <link rel="stylesheet" href="/css/general/index.css">
</head>
<body>
<div id="login-box" sec:authorize="isAnonymous()">
    <button class="nbutton" onclick="location.href = 'http://localhost:8080/login';">Login</button>
    <p>or</p>
    <button class="nbutton" onclick="location.href = 'http://localhost:8080/signUp';" style="padding-right: 100px;">Sign Up</button>
</div>
<div id="login-box" sec:authorize="isAuthenticated()">
    <button class="nbutton" onclick="location.href = 'http://localhost:8080/tasks/all';">Tasks</button>
    <button class="nbutton" onclick="location.href = 'http://localhost:8080/a/activities';">Activities</button>
</div>
<div>
    <div>
        <p id="possum">Possum</p>
        <img id="name-img" src="/image/icon.png">
        <br>
        <p id="schedule">Schedule</p>
        <p id="name-desk">- online tool to plan your day!<br>Create long-term tasks or divide your day into temporary activities.</p>
    </div>
    <div>
        <p id="task-desk"><img id="task-img" src="/image/tasks-example.png">
            &nbsp&nbsp&nbsp&nbspMake plans by creating Tasks. There is no need to keep everything in
            your head, so write down all that you want to do! Be it a hobby, travelling plan or career
            ambitions - put it into a note, so that you know what to do and pursue your goals.<br>
            &nbsp&nbsp&nbsp&nbsp Set priorities for what is important to you. The deadlines knocking
            at your door and some tasks can wait in favor of others. Mark them with corresponding
            numbers to see what has to be done first.<br>
            &nbsp&nbsp&nbsp&nbsp Complete your tasks and review them on the History page to see your progress.
            And don't forget that planning is one thing, but making your plans real is wholly up to you!</p>
        <br>
        <p id="act-desk"><img id="act-img" src="/image/activities-example.png"><br><br>
            &nbsp&nbsp&nbsp&nbspManage your time using Activities. Whether shopping for groceries or taking
            your pet for a walk, add it to your daily schedule and see when you have some time left for yourself.<br>
            &nbsp&nbsp&nbsp&nbspActivities are meant to help you structure your day and remind you of certain things.
            For example, regularly watering flowers or cleaning the house can easily be forgotten. Therefore,
            you can create repeating activities that will appear on your daily schedule to remind you of your chores.</p>
    </div>
    <div id="afterword">
        <p>possumschedule@gmail.com</p>
    </div>
</div>
</body>
</html>
